/* =================== TEST CHILD =================== */
.testchild {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-color: firebrick;
}

.childinner {
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  background-color: dodgerblue;
}