@import 'base';

/* =================== FORM =================== */

.gui-form {
  margin-top: 10px;
}

input, textarea, select {
  @include gradient(darker($primary-color, 10%), darker($primary-color, 8%));
  @include box-shadow(inset 1px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 0px 0px #373c40);
  @include border-radius(0px);
  @include box-sizing(border-box);

  border: 1px solid darker($primary-color, 11%);
  border-top-color: darker($primary-color, 14%);
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  padding: 0px 7px;
  width: 250px;
}

input[disabled], textarea[disabled], select[disabled] {
  cursor: not-allowed;
  color: darker($text-color, 50%);
}

input {
  height: 28px;
  line-height: 26px;
}

textarea {
  resize: none;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
  margin: 0;
}

select {
  @include appearance(none);
  height: 28px;
  line-height: 26px;
  padding-right: 0;
  padding-left: 2px;
  width: 125%;
  cursor: pointer;
}

/* Select */
.gui-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 28px;
  width: 250px;
  margin-bottom: -3px;
  border-right: 1px solid #212529;
  -webkit-box-shadow: 0px 1px 0px 0px #373c40;
  -moz-box-shadow: 0px 1px 0px 0px #373c40;
  box-shadow: 0px 1px 0px 0px #373c40;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.gui-select .arrow {
  position: absolute;
  right: 3px;
  top: 4px;
  width: 20px;
  height: 21px;
  background: url(img/gui-select-arrow.png) 0 0 no-repeat;
  pointer-events:none;
}

.gui-select:hover .arrow {
  background-position: 0px -21px;
}

.gui-select:active .arrow {
  background-position: 0px -42px;
}


input[type="checkbox"] {
  visibility: hidden;
}

/* Sizes */
.input-xs {
  width: 50px;
}

.input-sm {
  width: 80px;
}

.input-md {
  width: 120px;
}

.input-lg {
  width: 180px;
}

.input-xl {
  width: 250px;
}

.input-addon .input-xs {
  width: 22px;
}

.input-addon .input-sm {
  width: 52px;
}

.input-addon .input-md {
  width: 92px;
}

.input-addon .input-lg {
  width: 152px;
}

.input-addon .input-xl {
  width: 222px;
}




/* Addon */
.input-addon .addon {
  float: left;
  background-color: #212528;
  height: 28px;
  line-height: 27px;
  color: #aab9c5;
  text-align: center;
  width: 28px;

  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 0px 0px #373c40;
  -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 0px 0px #373c40;
  box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 0px 0px #373c40;

  border: 1px solid #212529;
  border-top-color: #1E2326;
  border-right: 1px solid #1e2125;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.input-addon .addon .fa {
  font-size: 14px;
}

.input-addon input {
  border-left: 1px solid #272b2e;
}

.input-addon.addon-right .addon {
  float: right;
  border-left: 1px solid #1e2125;
  border-right: inherit;
}

.input-addon.addon-right input {
  border-right: 1px solid #272b2e;
  border-left: inherit;
}

/* Form Group */
.form-group {
  margin-bottom: 10px;
}

.form-group .label {
  display: inline-block;
  width: 120px;
  color: #656c72;
  text-align: right;
  margin-right: 7px;
  font-size: 11px;
  vertical-align: top;
  padding-top: 6px;
}

.form-group .field {
  display: inline-block;
}

/* plain text */
.form-group.text .label {
  padding-top: 0px;
}

.form-group.text .field {
  padding-top: 0px;
  color: #bac6d0;
}

/* Button group */
.button-group {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Titles */
.form-title {
  padding-left: 130px;
  margin-bottom: 20px;
}

.form-title .title {
  margin-bottom: 0px;
}

.form-title .subtitle {
  font-size: 11px;
  font-weight: 800;
  color: #5A6063;
}

/* Divider */
.form-divider {
  margin-top: 15px;
  padding-bottom: 14px;
  border-top: 1px dotted #383d43;
  margin-left: 10px;
  margin-right: 10px;
}

/* Checkbox */
.gui-checkbox {
  width: 68px;
  height: 29px;
  background: url(img/gui-checkbox.png) 0 0 no-repeat;
  margin-left: -1px;
  position: relative;
}

.gui-checkbox input[type=checkbox] {
  padding: 0;
  height: 0;
  width: 0;
}

.gui-checkbox label {
  display: block;
  width: 34px;
  height: 25px;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 4px;

  background: url(img/gui-checkbox.png) 0px -30px no-repeat;
}

.gui-checkbox input[type=checkbox]:checked + label {
  left: 30px;
}

/* Radio button */
input[type="radio"] {
  display:none;
}
input[type="radio"] + label {
  display: block;
  width: 26px;
  height: 25px;
  line-height: 25px;
  margin: 3px 0px 5px -1px;
  vertical-align: middle;
  background: url(img/gui-radiobutton.png) 0 0 no-repeat;
  cursor: pointer;
  padding-left: 35px;
  color: #889096;
}
input[type="radio"]:checked + label {
  background:url(img/gui-radiobutton.png) 0px -30px no-repeat;
  color: #bac6d0;
}

/* INDENTED */
.gui-form.form-indent .button-group {
  padding-left: 130px;
}

