$font-family: 'Open Sans', sans-serif;
$font-size: 11px;

$primary-color: #E3EAEF;
$link-color: #83BFEA;
$background-color: #353b3f;

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  color: $primary-color;
  font-family: $font-family;
  font-size: $font-size;
  overflow: hidden;
  background: $background-color;
}

/* =================== STYLES =================== */

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight:600;
  margin: 0px 0px 20px 0px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: lighten($link-color, 10%);
  text-decoration: underline;
}

/* =================== TEXT PANE =================== */
.gui-text-pane {
  display: block;
  padding: 10px;
  color: #9AA2A8;
}

@import 'buttons';
@import 'form';
@import 'icons';
@import 'accordion';
@import 'button-menu';
@import 'child';
@import 'loader';
@import 'main-menu';
@import 'pane';
@import 'table';
@import 'tabs';
@import 'thumb';
@import 'window';
@import 'override';
